@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");

/* =========================================
            Website Resets
============================================ */
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
}

*::-moz-focus-inner {
   border: 0;
}

*:focus {
   outline: none;
}

/*===============================================================
            html, body, root, and typography
==================================================================*/
:root {


   /************************* colors *************************/
   --clr-neutral-000: hsl(210, 0%, 98%);
   --clr-neutral-100: hsl(210, 0%, 88%);
   --clr-neutral-200: hsl(210, 0%, 78%);
   --clr-neutral-300: hsl(210, 0%, 68%);
   --clr-neutral-400: hsl(210, 0%, 58%);
   --clr-neutral-500: hsl(210, 0%, 48%);
   --clr-neutral-600: hsl(210, 0%, 38%);
   --clr-neutral-700: hsl(210, 0%, 28%);
   --clr-neutral-800: hsl(210, 0%, 18%);
   --clr-neutral-900: hsl(210, 0%, 10%);

   --clr-augmented-000: hsl(210, 12%, 98%);
   --clr-augmented-100: hsl(210, 12%, 88%);
   --clr-augmented-200: hsl(210, 12%, 78%);
   --clr-augmented-300: hsl(210, 15%, 68%);
   --clr-augmented-400: hsl(210, 15%, 58%);
   --clr-augmented-500: hsl(210, 15%, 48%);
   --clr-augmented-600: hsl(210, 15%, 38%);
   --clr-augmented-700: hsl(210, 20%, 28%);
   --clr-augmented-800: hsl(210, 25%, 18%);
   --clr-augmented-900: hsl(210, 30%, 10%);


   /************************* fluid text *************************/
   --ft-fluid-text-000: clamp(0.51rem, 0.13vi + 0.49rem, 0.64rem);
   --ft-fluid-text-100: clamp(0.64rem, 0.16vi + 0.61rem, 0.8rem);
   --ft-fluid-text-200: clamp(0.8rem, 0.2vi + 0.76rem, 1rem);
   --ft-fluid-text-300: clamp(1rem, 0.25vi + 0.95rem, 1.25rem);
   --ft-fluid-text-400: clamp(1.25rem, 0.31vi + 1.19rem, 1.56rem);
   --ft-fluid-text-500: clamp(1.56rem, 0.39vi + 1.48rem, 1.95rem);
   --ft-fluid-text-600: clamp(1.95rem, 0.49vi + 1.86rem, 2.44rem);
   --ft-fluid-text-700: clamp(2.44rem, 0.61vi + 2.32rem, 3.05rem);
   --ft-fluid-text-800: clamp(3.05rem, 0.76vi + 2.9rem, 3.81rem);
   --ft-fluid-text-900: clamp(3.81rem, 0.95vi + 3.62rem, 4.77rem);



   --ff-heading: 'Lora', serif;
   --ff-body: 'Montserrat', sans-serif;

   --fw-font-weight-300: 300;
   --fw-font-weight-400: 400;
   --fw-font-weight-500: 500;
   --fw-font-weight-600: 600;


}

html {
   min-width: 100vw;
   min-height: 100vh;
   font-size: 100%;

}
@media screen and (max-width: 767px) {
   html {
      font-size: 75%;
   }
}
@media screen and (max-width: 500px) {
   html {
      font-size: 50%;
   }
}

html,
body {
   position: relative;
   width: 100%;
   height: 100%;
   z-index: 1;
   overflow-x: hidden;
   font-family: var(--ff-body);
   font-size: var(--ft-fluid-text-200);
   font-optical-sizing: auto;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   line-height: 1.5;
   background-color: var(--clr-augmented-200);
}


p {
   margin-bottom: 1rem;
   text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5 {
   font-family: var(--ff-heading);
   font-weight: 600;
   line-height: 1.3;
   text-rendering: optimizeLegibility;
}

h1 {
   margin-top: 0;
   font-size: 3.052rem;
   font-size: var(--ft-fluid-text-700);
}

h2 {
   font-size: 2.441rem;
   font-size: var(--ft-fluid-text-600);
}

h3 {
   font-size: 1.953rem;
   font-size: var(--ft-fluid-text-500);
}

h4 {
   font-size: 1.563rem;
   font-size: var(--ft-fluid-text-400);
}

h5 {
   font-size: 1.25rem;
   font-size: var(--ft-fluid-text-300);
}


small,
.text_small {
   font-size: 0.8rem;
   text-rendering: optimizeLegibility;
}

.heading-primary {
   margin-top: 0;
   font-size: 3.052rem;
   font-size: var(--ft-fluid-text-800);
}

.heading-secondary {
   font-size: 2.441rem;
   font-size: var(--ft-fluid-text-700);
}

.heading-tertiary {
   font-size: 1.953rem;
   font-size: var(--ft-fluid-text-600);
}

.paragraph {
   font-size: 1.6rem;
   font-size: var(--ft-fluid-text-400);

   &:not(:last-child) {
      margin-bottom: 3em;
   }
}

ul {
   list-style: none;

}

a {
   text-decoration: none !important;
}

img {
   width: 100%;
   height: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
   font-family: "Noto Sans Mono", monospace;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

/* Firefox */
input[type=number] {
   -moz-appearance: textfield;
   appearance: textfield;
   font-family: "Noto Sans Mono", monospace;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

/*===============================================================
            utility classes
==================================================================*/
.utils-container-fluid {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding-left: 16px;
   padding-right: 16px;
}

.utils-container {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding-left: 16px;
   padding-right: 16px;
}

@media (min-width: 576px) {
   .utils-container {
      max-width: 100%;
   }
}

@media (min-width: 768px) {
   .utils-container {
      max-width: 720px;
   }
}

@media (min-width: 992px) {
   .utils-container {
      max-width: 960px;
   }
}

@media (min-width: 1200px) {
   .utils-container {
      max-width: 1144px;
   }
}

@media (min-width: 1400px) {
   .utils-container {
      max-width: 1320px;
   }
}

.utils-img-responsive {
   display: block;
   max-width: 100%;
   height: auto;
}

.row {
   display: grid;
   place-items: center;
}


.title-heading {
   position: relative;
   padding: 2rem 0;
   font-size: 3rem;
   font-weight: 100;
   text-transform: capitalize;
   text-align: center;
   margin-bottom: 0.5em;
   font-family: "Lora", serif;
   color: hsl(210, 30%, 10%);
   letter-spacing: 0.5px;
}

.flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.grid-center {
   display: grid;
   place-items: center;
}

.grid-container {
   margin: 0 auto;
   width: 90%;
   display: grid;
   row-gap: 3rem;
   column-gap: 2rem;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-container-12 {
   margin: 0 auto;
   width: 90%;
   display: grid;
   row-gap: 3rem;
   column-gap: 2rem;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-column-1 {
   display: grid;
   grid-template-columns: repeat(1, minmax(0, 1fr));
   column-gap: 2rem;
}

.grid-column-2 {
   display: grid;
   grid-template-columns: repeat(2, minmax(0, 1fr));
   column-gap: 2rem;
}

.grid-column-3 {
   display: grid;
   grid-template-columns: repeat(3, minmax(0, 1fr));
   column-gap: 2rem;
}

.grid-column-4 {
   display: grid;
   grid-template-columns: repeat(4, minmax(0, 1fr));
   column-gap: 2rem;
}

.grid-twelve-column {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   gap: 0.5em;
}

.utils-img-thumbnail {
   display: inline-block;
   max-width: 100%;
   height: auto;
   line-height: 1.42857143;
   background-color: var(--clr-neutral-100);
   border: var(--clr-neutral-300);
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;
}

.utils-img-responsive,
.utils-thumbnail > img,
.utils-thumbnail a > img {
   display: block;
   max-width: 100%;
   height: auto;

}

/*If you want the image to scale both up and down on responsiveness,
set CSS width property to 100% and height to auto*/
.utils-img-responsive-up-and-down {
   width: 100%;
   height: auto;
}

/*If you want the image to scale down if it has to, but never scale up
to be larger than its original size, use CSS max-width property to 100%
and height to auto*/
.utils-img-responsive-down {
   max-width: 100%;
   height: auto;
}

/*If you want to restrict the image to a maximum size, set CSS width property
to 100%, max-width property to a pixel value of choice, and height to auto*/
.utils-img-responsive-up-to {
   width: 100%;
   max-width: 400px;
   height: auto;
}

.utils-img-responsive {
   vertical-align: middle;
}

.utils-img-thumbnail {
   display: inline-block;
   max-width: 100%;
   height: auto;
   line-height: 1.42857143;
   background-color: var(--clr-neutral-700);
   border: 1px solid var(--clr-neutral-300);
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;
}

.utils-img-responsive,
.utils-thumbnail > img,
.utils-thumbnail a > img {
   display: block;
   max-width: 100%;
   height: auto;

}

/*===============================================================
         scrollbar styles
==================================================================*/
/* width */
::-webkit-scrollbar {
   width: 3px;

}

/* track */
::-webkit-scrollbar-track {
   margin-left: 4px;
   -webkit-box-shadow: inset 0 0 5px #bfbfbf;
   box-shadow: inset 0 0 5px #bfbfbf;
   border-radius: 3px;

}

/* handle */
::-webkit-scrollbar-thumb {
   background: #d9d9d9;
   border-radius: 3px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #616161;
}


/*=============================================
          components/_preloader.scss
================================================*/
.preloader {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 100vw;
   height: 100vh;
   z-index: 10000;
   overflow: hidden;
   background: hsl(210, 64%, 23%);
   display: -webkit-box;
   display: flex;
   -webkit-box-align: center;
   align-items: center;
   -webkit-box-pack: center;
   justify-content: center;
}

.preloader__gif {
   width: 25%;
   align-self: center;
}

/* Extra Small Devices (Landscape Phones & Portrait Tablets) */
@media (max-width: 767px) {
   .preloader__gif {
      width: 50%;
   }
}

/*===============================================================
          filterizer section
==================================================================*/
.section {
   min-height: 100vh;
}

.filterizer__section {
   position: relative;
   width: 100%;
   height: fit-content;
   display: grid;
   place-items: center;
   gap: 1em;
   padding-top: 2em;
   padding-bottom: 2em;
}

.filterizer__section--upper {
   position: relative;
   width: 66.667%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

@media only screen and (max-width: 1199px) {
   .filterizer__section--upper {
      width: 75%;
   }
}

@media only screen and (max-width: 988px) {
   .filterizer__section--upper {
      width: 100%;
   }
}

.filterizer__title {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 1em;
   font-family: "Lora", serif;
   font-size: 2.441rem;
   font-size: var(--ft-fluid-text-600);
   font-weight: 600;
   color: var(--clr-augmented-800);
   text-transform: capitalize;
   text-align: center;
   letter-spacing: 1px;
}

@media screen and (max-width: 500px) {
   .filterizer__title {
      font-size: var(--ft-fluid-text-500);
   }
}

.filterizer__container {
   position: relative;
   min-width: 100%;
   max-height: 50%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.filterizer__filters {
   position: relative;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}

.filterizer__filter {
   padding: 16px 32px;
   padding: 1em 2em;
   font-family: "Montserrat", sans-serif;
   font-size: medium;
   border: 1px solid hsl(210, 0%, 18%);
   outline: none;
   color: hsl(210, 0%, 18%);
   background-color: hsl(210, 0%, 68%);
   cursor: pointer;
   transition: all 0.5s ease-in-out;
   background: linear-gradient(90deg, hsl(210, 64%, 23%) 0%, hsl(210, 64%, 23%) 50%, hsl(210, 64%, 39%) 50%, hsl(210, 64%, 39%) 100%);
   background-repeat: no-repeat;
   background-size: 200% 100%;
   background-position: right bottom;
   transition: background-position 0.25s ease-out;
   font-size: 0.85rem;
   font-size: clamp(0.8rem, 0.2vi + 0.76rem, 1rem);
   font-size: var(--ft-fluid-text-100);
   font-weight: 600;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: hsl(210, 0%, 98%);
   border-radius: 5px;
   border-color: hsl(210, 64%, 44%);
   box-shadow: 5px 3px 21px -1px rgba(34, 40, 45, 0.25), 5px 3px 21px -1px rgba(34, 40, 45, 0.25);
}

.filterizer__filter:hover,
.filterizer__filter:focus {
   cursor: pointer;
   color: hsl(210, 0%, 78%);
}
.filterizer__filter:hover {
   background-position: left bottom;
}
.filterizer__filter.active {
   color: hsl(210, 0%, 98%);
   background-position: left bottom;
}

@media only screen and (max-width: 767px) {
   .filterizer__filter {
      font-size: var(--ft-fluid-text-100);
   }
}


.filterizer__section--lower {
   position: relative;
   width: 100%;
   height: fit-content;
   margin-right: auto;
   margin-left: auto;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(3, 1fr);
   grid-column-gap: 1.5em;
   grid-row-gap: 2.5em;
   padding-bottom: 3em;
}

.filterizer__card {
   width: 25%;
   padding: 8px;
   background-color: hsl(210, 64%, 23%);
}

.filterizer__card figure img {
   margin-bottom: 0.5em;
}

.filterizer__card--title {
   color: hsl(210, 12%, 98%);
   margin-bottom: 0.5em;
}

.filterizer__card__button--container {

}

.filterizer__para {
   /*background-color: hsl(210, 64%, 23%);*/
}